/*
@File: StartP Template Styles

* This file contains the styling for the actual tepmlate, this
is the file you need to edit to change the look of the
tepmlate.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

==== INDEX PAGE CSS

** - Default CSS
** - Preloader CSS
** - Navbar CSS
** - Main Banner CSS
** - Boxes CSS
** - About CSS
** - Services CSS
** - Features CSS
** - Team CSS
** - Works CSS
** - Fun Facts CSS
** - Pricing CSS
** - Feedback CSS
** - Ready To Talk CSS
** - Partner CSS
** - Blog CSS
** - Page Title CSS
** - FAQ CSS
** - Pagination CSS
** - Blog Details CSS
** - Project Details CSS
** - Contact CSS
** - Footer CSS
** - Go Top CSS
*/
/*================================================
Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

img {
  max-width: 100%;
}

a {
  color: #0e314c;
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
  outline: 0 !important;
}

a:hover, a:focus {
  color: #44ce6f;
  text-decoration: none;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

p {
  color: #6084a4;
  line-height: 1.9;
}

p:last-child {
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #0e314c;
  font-weight: 500;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-f7fafd {
  background-color: #f7fafd;
}

.bg-f9f6f6 {
  background-color: #f9f6f6;
}

/*owl carousel btn*/
.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-theme .owl-dots {
  margin-top: 20px;
  line-height: 0.01;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  background: #D6D6D6;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.owl-theme .owl-dots .owl-dot:hover span, .owl-theme .owl-dots .owl-dot.active span {
  background: #44ce6f;
}

/*btn btn-primary*/
.btn-primary {
  color: #ffffff;
  background-color: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #ffffff;
  background: #0e314c;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary .show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background: #0e314c;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #ffffff;
  background-color: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
  opacity: 1;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary:disabled:hover, .btn-primary:disabled:focus {
  background: #0e314c;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.btn {
  font-weight: 600;
  font-size: 14px;
  border: none;
  padding: 15px 40px;
  position: relative;
  border-radius: 4px;
  z-index: 1;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn::after, .btn::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: #c679e3;
  z-index: -1;
}

.btn::after {
  left: 0;
  border-radius: 4px 0 0 4px;
}

.btn::before {
  right: 0;
  border-radius: 0 4px 4px 0;
}

.btn:hover::after, .btn:hover::before {
  width: 50%;
}

/*form control*/
.form-group {
  margin-bottom: 18px;
}

label {
  color: #0e314c;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form-control {
  height: 40px;
  padding: 10px;
  font-size: 14px;
  color: #0e314c;
  border: 1px solid #eee;
  border-radius: 0;
  background: #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-form .form-control {
  background-color: #fff;
  border: 1px solid #fff;
}

.form-control:focus {
  outline: 0;
  background: #ffffff;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-color: #44ce6f;
}

/*Section Title*/
.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.section-title p {
  max-width: 520px;
  margin: 0 auto;
}

.section-title .bar {
  height: 5px;
  width: 90px;
  background: #cdf1d8;
  margin: 20px auto;
  position: relative;
  border-radius: 30px;
}

.section-title .bar::before {
  content: '';
  position: absolute;
  left: 0;
  top: -2.7px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #44ce6f;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: MOVE-BG;
          animation-name: MOVE-BG;
}

@-webkit-keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
  }
}

@keyframes MOVE-BG {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(88px);
            transform: translateX(88px);
  }
}

/*================================================
Preloader CSS
=================================================*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background: #44ce6f;
}

.preloader .spinner {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  margin: 0 auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
          animation: sk-rotateplane 1.2s infinite ease-in-out;
  position: absolute;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 70px 0 rgba(0, 0, 0, 0.4);
  top: 50%;
  margin-top: -75px;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/*================================================
Navbar CSS
=================================================*/
.startp-mobile-nav {
  display: none;
}

.startp-mobile-nav.mean-container .mean-nav ul li a.active {
  color: #44ce6f;
}

.startp-nav {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  width: 100%;
  z-index: 999;
  height: auto;
}

.startp-nav nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.startp-nav nav .navbar-nav .nav-item {
  position: relative;
  padding: 15px 0;
}

.startp-nav nav .navbar-nav .nav-item a {
  font-weight: 500;
  font-size: 14px;
  color: #4a6f8a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 14px;
  margin-right: 14px;
}

.startp-nav nav .navbar-nav .nav-item a:hover, .startp-nav nav .navbar-nav .nav-item a:focus, .startp-nav nav .navbar-nav .nav-item a.active {
  color: #44ce6f;
}

.startp-nav nav .navbar-nav .nav-item a svg {
  width: 14px;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu {
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  background: #ffffff;
  position: absolute;
  top: 80px;
  left: 0;
  width: 250px;
  z-index: 99;
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 20px;
  opacity: 0;
  border-radius: 5px;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li {
  position: relative;
  padding: 0;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li a {
  font-size: 14px;
  font-weight: 500;
  padding: 9px 15px;
  margin: 0;
  display: block;
  color: #4a6f8a;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li a:hover, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li a:focus, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li a.active {
  color: #44ce6f;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu {
  position: absolute;
  left: 220px;
  top: 0;
  opacity: 0 !important;
  visibility: hidden !important;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a {
  color: #4a6f8a;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a:hover, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a:focus, .startp-nav nav .navbar-nav .nav-item .dropdown_menu li .dropdown_menu li a.active {
  color: #44ce6f;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li:hover .dropdown_menu {
  opacity: 1 !important;
  visibility: visible !important;
  top: -20px !important;
}

.startp-nav nav .navbar-nav .nav-item .dropdown_menu li:hover a {
  color: #44ce6f;
}

.startp-nav nav .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.startp-nav nav .others-option {
  margin-left: 20px;
}

.startp-nav nav .others-option .btn.btn-light {
  background: transparent;
  border: 2px dashed #cdf1d8;
  padding: 12px 33px;
  margin-right: 10px;
}

.startp-nav nav .others-option .btn.btn-light:hover, .startp-nav nav .others-option .btn.btn-light:focus {
  color: #ffffff;
  border-color: #44ce6f;
}

.startp-nav nav .others-option .btn.btn-light::after, .startp-nav nav .others-option .btn.btn-light::before {
  background: #44ce6f;
}

.startp-nav nav .others-option .btn.btn-primary {
  background: #c679e3;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.startp-nav nav .others-option .btn.btn-primary::after, .startp-nav nav .others-option .btn.btn-primary::before {
  background: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

.startp-nav.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  z-index: 999;
  -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff !important;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

/*================================================
Main Banner CSS
=================================================*/
.main-banner {
  position: relative;
  height: 910px;
  z-index: 1;
  background: transparent url(../img/banner-bg1.jpg) right top no-repeat;
}

.main-banner .hero-content h1 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 20px;
}

.main-banner .hero-content p {
  margin-bottom: 30px;
}

.main-banner .banner-form {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  padding: 50px 30px;
  border-radius: 5px;
}

.main-banner .banner-form form .form-control {
  padding-left: 15px;
}

.main-banner .banner-form form .btn {
  display: block;
  width: 100%;
  -webkit-transform: unset;
          transform: unset;
  margin-top: 25px;
}

.main-banner .banner-image {
  position: relative;
}

.main-banner .banner-image img {
  position: absolute;
}

.main-banner .banner-image img:nth-child(1) {
  z-index: 3;
  top: -130px;
  left: -45px;
}

.main-banner .banner-image img:nth-child(2) {
  right: 145px;
  top: -287px;
}

.main-banner .banner-image img:nth-child(3) {
  left: 25px;
  top: -20px;
}

.main-banner .banner-image img:nth-child(4) {
  right: 12%;
  top: 118px;
  z-index: 1;
}

.main-banner .banner-image img:nth-child(5) {
  left: 28%;
  top: -120px;
  z-index: 2;
}

.main-banner .banner-image img:nth-child(6) {
  right: 35%;
  z-index: 1;
  top: -150px;
}

.main-banner .banner-image img:nth-child(7) {
  right: 20px;
  top: -110px;
}

.main-banner .banner-image img:nth-child(8) {
  right: 25px;
  top: -140px;
}

.main-banner .banner-image img:nth-child(9) {
  right: 30%;
  z-index: 1;
  top: -35px;
}

.main-banner .banner-image img:nth-child(10) {
  left: 37%;
  top: -28px;
  z-index: 1;
}

.main-banner .banner-image img:nth-child(11) {
  left: 37%;
  top: -160px;
  z-index: 1;
}

.main-banner .banner-image img:nth-child(12) {
  left: 90px;
  top: -110px;
}

.main-banner .banner-image img:nth-child(13) {
  left: 56%;
  top: -25px;
  z-index: 2;
}

.main-banner .banner-image img:nth-child(14) {
  right: 105px;
  top: -28px;
}

.main-banner .banner-image img:last-child {
  display: none;
}

.main-banner .banner-image.single-banner-image img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.shape1 {
  position: absolute;
  top: 20%;
  z-index: -1;
  left: 30px;
  -webkit-animation: rotate3d 4s linear infinite;
          animation: rotate3d 4s linear infinite;
  opacity: .4;
}

.shape2 {
  position: absolute;
  z-index: -1;
  top: 60%;
  left: 15%;
}

.shape3 {
  position: absolute;
  left: 25%;
  bottom: 15%;
  z-index: -1;
  -webkit-animation: animationFramesOne 15s infinite linear;
          animation: animationFramesOne 15s infinite linear;
}

.shape4 {
  position: absolute;
  right: 25%;
  bottom: 15%;
  z-index: -1;
  -webkit-animation: animationFramesOne 20s infinite linear;
          animation: animationFramesOne 20s infinite linear;
}

.shape5 {
  position: absolute;
  right: 5%;
  top: 10%;
  z-index: -1;
  -webkit-animation: movebounce 5s linear infinite;
          animation: movebounce 5s linear infinite;
  opacity: .2;
}

.shape6 {
  position: absolute;
  z-index: -1;
  top: 40%;
  right: 10%;
}

.shape7 {
  position: absolute;
  left: 25%;
  top: 15%;
  z-index: -1;
  -webkit-animation: animationFramesOne 20s infinite linear;
          animation: animationFramesOne 20s infinite linear;
}

.shape8 {
  position: absolute;
  z-index: -1;
  top: 15%;
  right: 10%;
}

@-webkit-keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes movebounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes moveleftbounce {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveleftbounce {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.rotateme {
  -webkit-animation-name: rotateme;
          animation-name: rotateme;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes rotate3d {
  0% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
            transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
            transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
            transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
            transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
            transform: translate(0px, 0px) rotate(0deg);
  }
}

@-webkit-keyframes animationFramesOne {
  0% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    -webkit-transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    -webkit-transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    -webkit-transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    -webkit-transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    -webkit-transform: translate(0px, 0px) rotate(0deg);
  }
}

/*================================================
Boxes CSS
=================================================*/
.boxes-area {
  position: relative;
  padding-bottom: 80px;
  margin-top: -130px;
  z-index: 1;
}

.single-box {
  border: 1px dashed #cdf1d8;
  padding: 30px 20px;
  position: relative;
  z-index: 1;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
          box-shadow: 0 0 10px rgba(72, 69, 224, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-box .icon {
  display: inline-block;
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #cdf1d8;
  border-radius: 50%;
  color: #44ce6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-box h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-box::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-box p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-box.bg-f78acb {
  border-color: rgba(247, 138, 203, 0.3);
}

.single-box.bg-f78acb .icon {
  color: #f78acb;
  background: rgba(247, 138, 203, 0.3);
}

.single-box.bg-c679e3 {
  border-color: #edc3fc;
}

.single-box.bg-c679e3 .icon {
  color: #c679e3;
  background: #edc3fc;
}

.single-box.bg-eb6b3d {
  border-color: rgba(235, 107, 61, 0.3);
}

.single-box.bg-eb6b3d .icon {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}

.single-box:hover {
  -webkit-transform: translateY(-9px);
          transform: translateY(-9px);
  border-color: transparent;
}

.single-box:hover::before {
  opacity: 1;
  visibility: visible;
}

.single-box:hover .icon {
  background: #ffffff;
  color: #44ce6f;
}

.single-box:hover h3, .single-box:hover p {
  color: #ffffff;
}

.single-box:hover.bg-f78acb .icon {
  color: #f78acb;
}

.single-box:hover.bg-c679e3 .icon {
  color: #c679e3;
}

.single-box:hover.bg-eb6b3d .icon {
  color: #eb6b3d;
}

/*================================================
About CSS
=================================================*/
.about-content .section-title {
  text-align: left;
  margin-bottom: 18px;
}

.about-content .section-title .bar {
  margin-right: 0;
  margin-left: 0;
}

.about-content .section-title p {
  margin: 0;
}

.about-inner-area {
  margin-top: 60px;
}

.about-inner-area .about-text h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

/*================================================
Services CSS
=================================================*/
.services-area {
  overflow: hidden;
}

.services-content .section-title {
  text-align: left;
  margin-bottom: 20px;
}

.services-content .section-title .bar {
  margin-left: 0;
  margin-right: 0;
}

.services-content .section-title p {
  margin: 0;
}

.services-content .row {
  margin-left: -8px;
  margin-right: -8px;
}

.services-content .row .col-lg-6 {
  padding-left: 8px;
  padding-right: 8px;
}

.services-content .box {
  position: relative;
  margin-top: 30px;
  z-index: 1;
  display: block;
  padding: 15px 12px;
  color: #6084a4;
  font-weight: 500;
  border-radius: 3px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.services-content .box::before {
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.services-content .box svg {
  margin-right: 5px;
  display: inline-block;
  color: #44ce6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 18px;
}

.services-content .box:hover {
  color: #ffffff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.services-content .box:hover::before {
  opacity: 1;
  visibility: visible;
}

.services-content .box:hover svg {
  color: #ffffff;
}

.services-right-image {
  position: relative;
}

.services-right-image img {
  position: absolute;
}

.services-right-image img:nth-child(1) {
  left: 22%;
  top: -85px;
  z-index: 1;
}

.services-right-image img:nth-child(2) {
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
  top: -52px;
}

.services-right-image img:nth-child(3) {
  left: 44%;
  top: -33px;
  z-index: 1;
}

.services-right-image img:nth-child(4) {
  right: 38%;
  z-index: 1;
  top: -220px;
}

.services-right-image img:nth-child(5) {
  z-index: 1;
  right: 24%;
  top: 8px;
}

.services-right-image img:nth-child(6) {
  left: 29%;
  top: 0;
  z-index: 1;
}

.services-right-image img:nth-child(7) {
  right: 44%;
  top: -78px;
  z-index: 1;
}

.services-right-image img:nth-child(8) {
  right: 30%;
  top: -134px;
  z-index: 1;
}

.services-right-image img:nth-child(9) {
  right: 31%;
  top: -21px;
  z-index: 1;
}

.services-right-image img:nth-child(10) {
  right: 24%;
  top: -80px;
}

.services-right-image img:nth-child(11) {
  left: 27%;
  top: -60px;
  z-index: 2;
}

.services-right-image img:nth-child(12) {
  right: 28%;
  z-index: 1;
  top: -54px;
}

.services-right-image img:nth-child(13) {
  left: 31%;
  top: -105px;
  z-index: 1;
}

.services-right-image img.bg-image {
  top: -262px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.services-right-image img:last-child {
  display: none;
}

.services-right-image.single-right-image img {
  display: block;
}

.services-right-image.single-right-image img:first-child {
  top: -60px;
}

.services-right-image.single-right-image img:last-child {
  position: relative;
  left: 0;
  top: 0;
}

.services-left-image {
  position: relative;
}

.services-left-image img {
  position: absolute;
}

.services-left-image img:nth-child(1) {
  left: 15%;
  top: -98px;
}

.services-left-image img:nth-child(2) {
  left: 0;
  top: -200px;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.services-left-image img:nth-child(3) {
  left: 36%;
  z-index: 12;
  top: -55px;
}

.services-left-image img:nth-child(4) {
  left: 55px;
  top: -38px;
  z-index: 1;
}

.services-left-image img:nth-child(5) {
  z-index: 3;
  right: 26%;
  top: -66px;
}

.services-left-image img:nth-child(6) {
  right: 19%;
  top: -41px;
  z-index: 2;
}

.services-left-image img:nth-child(7) {
  right: 97px;
  top: 40px;
  z-index: 1;
}

.services-left-image img:nth-child(8) {
  right: 23%;
  top: -175px;
  z-index: 2;
}

.services-left-image img.bg-image {
  top: -262px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}

.services-left-image img:last-child {
  display: none;
}

.services-left-image.single-left-image img {
  display: block;
}

.services-left-image.single-left-image img:first-child {
  top: -60px;
}

.services-left-image.single-left-image img:last-child {
  position: relative;
  left: 0;
  top: 0;
}

.single-services-box {
  position: relative;
  background: #ffffff;
  padding-left: 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box h3 {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.single-services-box .icon {
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #cdf1d8;
  border-radius: 50%;
  color: #44ce6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box .icon.bg-c679e3 {
  color: #c679e3;
  background: #edc3fc;
}

.single-services-box .icon.bg-eb6b3d {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}

.single-services-box::before, .single-services-box::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  background: #44ce6f;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-services-box::before {
  left: 0;
}

.single-services-box::after {
  right: 0;
}

.single-services-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-services-box:hover .icon {
  background: #44ce6f;
  color: #ffffff;
}

.single-services-box:hover .icon.bg-c679e3 {
  background: #c679e3;
}

.single-services-box:hover .icon.bg-eb6b3d {
  background: #eb6b3d;
}

.single-services-box:hover::after, .single-services-box:hover::before {
  opacity: 1;
  visibility: visible;
  width: 50%;
}

.services-area-two {
  padding-bottom: 50px;
}

/*================================================
Features CSS
=================================================*/
.features-area {
  padding-bottom: 50px;
}

.features-area-two {
  overflow: hidden;
}

.single-features {
  position: relative;
  background: #ffffff;
  padding-left: 95px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-features h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.single-features .icon {
  position: absolute;
  text-align: center;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background: #cdf1d8;
  border-radius: 50%;
  color: #44ce6f;
  left: 20px;
  top: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-features .icon.bg-c679e3 {
  color: #c679e3;
  background: #edc3fc;
}

.single-features .icon.bg-eb6b3d {
  color: #eb6b3d;
  background: rgba(235, 107, 61, 0.3);
}

.single-features:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-features:hover .icon {
  background: #44ce6f;
  color: #ffffff;
}

.single-features:hover .icon.bg-c679e3 {
  background: #c679e3;
}

.single-features:hover .icon.bg-eb6b3d {
  background: #eb6b3d;
}

/*================================================
Team CSS
=================================================*/
.team-area {
  padding-bottom: 50px;
}

.team-area .owl-controls {
  margin-bottom: 30px;
}

.single-team {
  background: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 1;
  text-align: center;
}

.single-team .team-image {
  position: relative;
  z-index: 1;
  padding-left: 35px;
  padding-right: 35px;
}

.single-team .team-image img {
  border: 3px solid #cdf1d8;
  width: auto !important;
  border-radius: 50%;
  display: inline-block !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 125px;
  width: 125px !important;
  object-fit: cover;
}

.single-team .team-image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  background: #f9f6f6;
  height: 10px;
  width: 100%;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-content {
  padding-left: 35px;
  padding-right: 35px;
}

.single-team .team-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.single-team .team-content ul li {
  display: inline-block;
  margin: 0 3px;
}

.single-team .team-content ul li a {
  color: #c679e3;
}

.single-team .team-content ul li a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #44ce6f;
}

.single-team .team-content ul li a svg {
  width: 19px;
}

.single-team .team-content p {
  margin-top: 20px;
  margin-bottom: 0;
}

.single-team .team-info {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  padding: 10px 15px;
  border-radius: 75px;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-team .team-info h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #ffffff;
}

.single-team .team-info span {
  color: #ffffff;
  font-size: 13px;
}

.single-team:hover {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-team:hover .team-image::before {
  height: 0;
}

.single-team:hover .team-image img {
  border-color: #44ce6f;
}

.single-team:hover .team-info {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

/*================================================
Works CSS
=================================================*/
.works-area {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.single-works {
  position: relative;
  margin-bottom: 30px;
}

.single-works::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.single-works .icon {
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: 45px;
  background: #ffffff;
  width: 45px;
  text-align: center;
  height: 45px;
  line-height: 42px;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  visibility: hidden;
}

.single-works .icon svg {
  width: 19px;
}

.single-works .icon:hover {
  background: #44ce6f;
  color: #ffffff;
}

.single-works .works-content {
  position: absolute;
  bottom: -60px;
  left: 0;
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.single-works .works-content h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.single-works .works-content h3 a {
  color: #ffffff;
}

.single-works .works-content p {
  color: #ffffff;
}

.single-works:hover::before {
  opacity: .8;
  visibility: visible;
}

.single-works:hover .icon {
  opacity: 1;
  visibility: visible;
  top: 45px;
}

.single-works:hover .works-content {
  opacity: 1;
  visibility: visible;
  bottom: 0;
}

/*================================================
Fun Facts CSS
=================================================*/
.funfacts-area {
  position: relative;
  z-index: 1;
}

.funfacts-area .section-title h2 {
  max-width: 520px;
  margin: 0 auto;
  line-height: 30px;
}

.funfacts-area .map-bg {
  position: absolute;
  z-index: -1;
  top: 120px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.funfact {
  text-align: center;
}

.funfact h3 {
  color: #44ce6f;
  font-size: 32px;
  margin-bottom: 7px;
}

.contact-cta-box {
  margin: 80px auto 0;
  max-width: 600px;
  border: 1px dashed #ebebeb;
  padding: 30px 210px 30px 30px;
  border-radius: 5px;
  position: relative;
}

.contact-cta-box h3 {
  font-size: 20px;
  margin-bottom: 6px;
}

.contact-cta-box p {
  margin-bottom: 0;
}

.contact-cta-box .btn {
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -27px;
}

.contact-cta-box .btn::before, .contact-cta-box .btn::after {
  background: #44ce6f;
}

.contact-cta-box .btn-primary {
  background: #c679e3;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.contact-cta-box .btn-primary:hover, .contact-cta-box .btn-primary:focus {
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

/*==========================================
Pricing CSS
===========================================*/
.pricing-area {
  position: relative;
  z-index: 1;
}

.pricing-table {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding-bottom: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing-table .pricing-header {
  background: #ffffff;
  position: relative;
  padding: 30px 20px;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #eeeeee;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 30px;
  z-index: 1;
}

.pricing-table .pricing-header::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}

.pricing-table .pricing-header h3 {
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 0;
}

.pricing-table .price {
  margin-bottom: 30px;
}

.pricing-table .price span {
  color: #44ce6f;
  font-size: 30px;
  font-weight: 600;
}

.pricing-table .price span sup {
  font-weight: 500;
}

.pricing-table .price span span {
  font-size: 14px;
  font-weight: 500;
}

.pricing-table .pricing-features ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 30px;
}

.pricing-table .pricing-features ul li {
  color: #CCDCEA;
  margin-bottom: 12px;
  text-decoration: line-through;
}

.pricing-table .pricing-features ul li:last-child {
  margin-bottom: 0;
}

.pricing-table .pricing-features ul li.active {
  color: #6084a4;
  text-decoration: none;
}

.pricing-table:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.pricing-table:hover .pricing-header::before {
  opacity: 1;
  visibility: visible;
}

.pricing-table:hover .pricing-header h3 {
  color: #ffffff;
}

.pricing-table.active-plan .pricing-header::before {
  opacity: 1;
  visibility: visible;
}

.pricing-table.active-plan .pricing-header h3 {
  color: #ffffff;
}

.pricing-table.active-plan .btn-primary {
  background: #c679e3;
  -webkit-box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 13px 27px 0 rgba(198, 121, 227, 0.25);
}

.pricing-table.active-plan .btn-primary::after, .pricing-table.active-plan .btn-primary::before {
  background: #44ce6f;
  -webkit-box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 13px 27px 0 rgba(68, 206, 111, 0.25);
}

/*================================================
Feedback CSS
=================================================*/
.feedback-area {
  position: relative;
  z-index: 1;
}

.feedback-slides {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
}

.feedback-slides .client-feedback {
  position: relative;
}

.feedback-slides .client-feedback .single-feedback {
  background: #ffffff;
  border-radius: 5px;
  padding-left: 170px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 60px;
  position: relative;
}

.feedback-slides .client-feedback .single-feedback .client-img {
  position: absolute;
  left: 40px;
  top: 40px;
}

.feedback-slides .client-feedback .single-feedback .client-img img {
  border-radius: 50%;
  border: 2px solid #44ce6f;
  padding: 3px;
}

.feedback-slides .client-feedback .single-feedback h3 {
  font-size: 18px;
  margin: 0;
}

.feedback-slides .client-feedback .single-feedback span {
  display: block;
  margin-top: 8px;
  margin-bottom: 18px;
  color: #c679e3;
}

.feedback-slides .client-feedback .single-feedback p {
  font-size: 15px;
}

.feedback-slides .client-feedback .single-feedback::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 50px;
  height: 50px;
  background: #ffffff;
  right: 0;
  margin: 0 auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback-slides .client-thumbnails {
  position: relative;
  margin: 0 85px;
}

.feedback-slides .client-thumbnails .item .img-fill {
  cursor: pointer;
  position: relative;
  text-align: center;
}

.feedback-slides .client-thumbnails .item .img-fill img {
  opacity: 0.4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: inline-block;
  position: relative;
  border: 2px solid #44ce6f;
  border-radius: 50%;
  padding: 3px;
  width: 85px;
}

.feedback-slides .client-thumbnails .item:hover .img-fill img, .feedback-slides .client-thumbnails .item.slick-center .img-fill img {
  opacity: 1;
}

.client-thumbnails .next-arrow, .client-thumbnails .prev-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
  color: #5e5e5e;
  border: 2px solid #5e5e5e;
  z-index: 1;
  border-radius: 50%;
  line-height: 30px;
  outline: 0 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.client-thumbnails .next-arrow::before, .client-thumbnails .prev-arrow::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 50%;
}

.client-thumbnails .next-arrow:hover, .client-thumbnails .prev-arrow:hover {
  color: #ffffff;
  border-color: #44ce6f;
}

.client-thumbnails .next-arrow:hover::before, .client-thumbnails .prev-arrow:hover::before {
  opacity: 1;
  visibility: visible;
}

.client-thumbnails .next-arrow svg, .client-thumbnails .prev-arrow svg {
  width: 18px;
  height: 18px;
  position: relative;
}

.client-thumbnails .next-arrow {
  right: -20px;
}

.client-thumbnails .prev-arrow {
  left: -20px;
}

/*================================================
Ready To Talk CSS
=================================================*/
.ready-to-talk {
  text-align: center;
  position: relative;
  padding-top: 80px;
  padding-bottom: 160px;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
}

.ready-to-talk h3 {
  font-size: 24px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
}

.ready-to-talk p {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 16px;
}
.ready-to-talk {
    text-align: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
}

.ready-to-talk .btn::before, .ready-to-talk .btn::after {
  background: #44ce6f;
}

.ready-to-talk .btn-primary {
  background: #c679e3;
  -webkit-box-shadow: 0 5px 20px 0 rgba(198, 121, 227, 0.25);
          box-shadow: 0 5px 20px 0 rgba(198, 121, 227, 0.25);
}

.ready-to-talk .btn-primary:hover, .ready-to-talk .btn-primary:focus {
  -webkit-box-shadow: 0 5px 20px 0 rgba(68, 206, 111, 0.25);
          box-shadow: 0 5px 20px 0 rgba(68, 206, 111, 0.25);
}

.ready-to-talk span a {
  margin-left: 15px;
  color: #ffffff;
  text-decoration: underline;
}

/*================================================
Partner CSS
=================================================*/
.partner-section {
  text-align: center;
  position: relative;
  margin-top: -120px;
  background: transparent;
}

.partner-section h5 {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0;
}

.partner-section .partner-inner {
  background: #ffffff;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  margin-top: 25px;
}

.partner-section .partner-inner a {
  display: block;
  margin-top: 25px;
  position: relative;
}

.partner-section .partner-inner a img:last-child {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.partner-section .partner-inner a:hover img:last-child {
  opacity: 1;
  top: 0;
  visibility: visible;
}

/*================================================
Blog CSS
=================================================*/
.blog-area {
  padding-bottom: 50px;
}

.blog-area .pagination-area {
  margin-bottom: 30px;
}

.single-blog-post {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 30px;
}

.single-blog-post .blog-image {
  position: relative;
}

.single-blog-post .blog-image a {
  display: block;
}

.single-blog-post .blog-image .date {
  position: absolute;
  left: 20px;
  bottom: -20px;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  color: #ffffff;
  padding: 8px 16px;
  font-size: 13px;
  border-radius: 50px;
}

.single-blog-post .blog-image .date svg {
  width: 15px;
  margin-right: 3px;
}

.single-blog-post .blog-post-content {
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  background: #f7fafd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* height: 260px; */
}

.blog-thumbnail .blog-image img {
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog-details .article-content h3 {
  margin-bottom: 20px;
}

.post-details {
  color: #6084a4;
  line-height: 1.9;
}
.single-blog-post .blog-post-content h3 {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 0;
  height: 60px;
}
.single-blog-post .blog-post-content p {
    height: 100px;
    overflow: hidden;
}
.single-blog-post .blog-post-content span {
  display: block;
  color: #0e314c;
  margin: 15px 0;
}

.single-blog-post .blog-post-content span a {
  color: #6084a4;
}

.single-blog-post .blog-post-content span a:hover {
  color: #44ce6f;
}

.single-blog-post .blog-post-content .read-more-btn {
  color: #0e314c;
}

.single-blog-post .blog-post-content .read-more-btn svg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 15px;
}

.single-blog-post .blog-post-content .read-more-btn:hover {
  color: #44ce6f;
}

.single-blog-post .blog-post-content .read-more-btn:hover svg {
  margin-left: 5px;
}

.single-blog-post:hover {
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.single-blog-post:hover .blog-post-content {
  background: #ffffff;
}

/*================================================
Page Title CSS
=================================================*/
.page-title-area {
  position: relative;
  z-index: 1;
  background: transparent url(../img/banner-bg1.jpg) right top no-repeat;
  padding-top: 190px;
  padding-bottom: 100px;
  text-align: center;
}

.page-title-area h2 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

/*================================================
FAQ CSS
=================================================*/
.faq-accordion {
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
  padding: 60px;
  background: #ffffff;
  border-radius: 10px;
}

.faq-accordion .accordion {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.faq-accordion .accordion .accordion-item {
  display: block;
  margin-bottom: 15px;
}

.faq-accordion .accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.faq-accordion .accordion .accordion-item .accordion-title {
  display: block;
  padding: 12px 15px;
  text-decoration: none;
  background: #f5f9ff;
  font-size: 18px;
}

.faq-accordion .accordion .accordion-item .accordion-title:hover, .faq-accordion .accordion .accordion-item .accordion-title.active, .faq-accordion .accordion .accordion-item .accordion-title:focus {
  background: #44ce6f;
  color: #ffffff;
}

.faq-accordion .accordion .accordion-item .accordion-title.active {
  border-radius: 0;
}

.faq-accordion .accordion .accordion-item .accordion-content {
  display: none;
  position: relative;
  overflow: hidden;
  padding: 15px 15px 0;
  line-height: 1.9;
}

.faq-accordion .accordion .accordion-item .accordion-content.show {
  display: block;
}

.faq-contact {
  margin-top: 45px;
  -webkit-box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.08);
  padding: 60px;
  border-radius: 4px;
  background: #ffffff;
}

.faq-contact h3 {
  font-size: 24px;
  margin-bottom: 25px;
}

.faq-contact form .btn {
  margin-top: 10px;
}

/*=============================
Pagination CSS
===============================*/
.pagination-area {
  text-align: center;
  margin-top: 40px;
}

.pagination-area ul {
  padding: 0;
  margin: 0;
}

.pagination-area ul .page-item .page-link {
  padding: 11px 20px;
  margin: 0 -1px;
  color: #6f8ba4;
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 10px 0 #d8dde6;
          box-shadow: 0 2px 10px 0 #d8dde6;
}

.pagination-area ul .page-item .page-link:hover, .pagination-area ul .page-item .page-link:focus {
  color: #ffffff;
  background-color: #44ce6f;
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.pagination-area ul .page-item .page-link svg {
  width: 16px;
}

.pagination-area ul .page-item.active .page-link {
  color: #ffffff;
  background-color: #44ce6f;
}

/*================================================
Blog Details CSS
=================================================*/
.blog-details-area {
  position: relative;
}

.blog-details-area .blog-details {
  -webkit-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
          box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
  background: #ffffff;
}

.blog-details-area .blog-details .article-img {
  position: relative;
}

.blog-details-area .blog-details .article-img .date {
  position: absolute;
  bottom: 15px;
  width: 100px;
  right: 15px;
  height: 100px;
  text-align: center;
  font-size: 24px;
  font-style: italic;
  background: #44ce6f;
  color: #ffffff;
  border-radius: 5px;
  padding-top: 18px;
  line-height: 30px;
}

.blog-details-area .blog-details .article-content {
  padding: 30px;
}

.blog-details-area .blog-details .article-content ul li, .article-footer ul li {
  display: inline-block;
}

.blog-details-area .blog-details .article-content ul.category, .article-footer ul.category {
  margin-bottom: 25px;
}

.blog-details-area .blog-details .article-content ul.category li a, .article-footer ul.category li a {
  background: #44ce6f;
  color: #ffffff;
  padding: 5px 15px 3px;
  display: inline-block;
  border-radius: 3px;
}
.article-footer ul.category{
  padding-left: 0px;
  padding-top: 30px;
}

.blog-details-area .blog-details .article-content h3 {
  font-size: 18px;
}

.blog-details-area .blog-details .article-content p {
  margin-bottom: 0;
  margin-top: 18px;
}

.blog-details-area .blog-details .article-content .blockquote {
  margin-bottom: 20px;
  margin-top: 20px;
  background: #f7fafd;
  padding: 25px;
  border-left: 4px solid #44ce6f;
}

.blog-details-area .blog-details .article-content .blockquote p {
  margin-top: 0;
  font-size: 17px;
}

.blog-details-area .blog-details .article-content .share-post {
  text-align: center;
  margin-top: 30px;
}

.blog-details-area .blog-details .article-content .share-post ul li a {
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 38px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
  color: #0e314c;
}

.blog-details-area .blog-details .article-content .share-post ul li a:hover, .blog-details-area .blog-details .article-content .share-post ul li a:focus {
  color: #ffffff;
  border-color: #44ce6f;
  background-color: #44ce6f;
}

.blog-details-area .blog-details .article-content .share-post ul li a svg {
  width: 16px;
}

.blog-details-area .blog-details .article-content ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.blog-details-area .post-controls-buttons {
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #ffffff;
  padding: 30px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
          box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
}

.blog-details-area .post-controls-buttons .controls-left {
  float: left;
}

.blog-details-area .post-controls-buttons .controls-right {
  float: right;
}

.blog-details-area .post-controls-buttons div a {
  border: 1px solid #eeeeee;
  padding: 8px 20px;
  display: inline-block;
  border-radius: 5px;
}

.blog-details-area .post-controls-buttons div a:hover, .blog-details-area .post-controls-buttons div a:focus {
  color: #ffffff;
  background: #44ce6f;
  border-color: #44ce6f;
}

.blog-details-area .post-comments {
  padding: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
          box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
}

.blog-details-area .post-comments h3 {
  font-size: 18px;
  margin-bottom: 0;
}

.blog-details-area .post-comments .single-comment {
  position: relative;
  padding-left: 95px;
  margin-top: 30px;
}

.blog-details-area .post-comments .single-comment .comment-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 75px;
  height: 75px;
}

.blog-details-area .post-comments .single-comment .comment-img img {
  border-radius: 50%;
}

.blog-details-area .post-comments .single-comment .comment-content h4 {
  font-size: 14px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.blog-details-area .post-comments .single-comment .comment-content span {
  color: #6084a4;
}

.blog-details-area .post-comments .single-comment .comment-content p {
  margin-bottom: 15px;
}

.blog-details-area .post-comments .single-comment .comment-content a {
  position: absolute;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
}

.blog-details-area .post-comments .single-comment.left-m {
  margin-left: 85px;
}

.blog-details-area .leave-a-reply {
  padding: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
          box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
  margin-top: 25px;
}

.blog-details-area .leave-a-reply h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

/*================================================
Project Details CSS
=================================================*/
.project-details-image {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  text-align: center;
}

.project-details-image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #0e314c;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .4s;
  transition: .4s;
}

.project-details-image a {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  color: #ffffff;
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
  margin-top: 25px;
}

.project-details-image a:hover {
  color: #44ce6f;
}

.project-details-image:hover::before {
  opacity: .90;
  visibility: visible;
}

.project-details-image:hover a {
  opacity: 1;
  visibility: visible;
  margin-top: -5px;
}

.project-details-desc h3 {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.project-details-desc .project-details-information {
  overflow: hidden;
}

.project-details-desc .project-details-information .single-info-box {
  float: left;
  width: 20%;
  margin-top: 30px;
}

.project-details-desc .project-details-information .single-info-box h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.project-details-desc .project-details-information .single-info-box p {
  margin-bottom: 0;
}

.project-details-desc .project-details-information .single-info-box ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.project-details-desc .project-details-information .single-info-box ul li {
  display: inline-block;
}

.project-details-desc .project-details-information .single-info-box ul li a {
  margin-right: 4px;
  color: #6084a4;
}

.project-details-desc .project-details-information .single-info-box ul li a svg {
  width: 18px;
}

.project-details-desc .project-details-information .single-info-box ul li a:hover {
  color: #44ce6f;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

/*================================================
Contact CSS
=================================================*/
.contact-info-box {
  text-align: center;
  -webkit-transition: .4s;
  transition: .4s;
  -webkit-box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  background: #ffffff;
  padding: 30px;
}

.contact-info-box .icon {
  display: inline-block;
  width: 65px;
  height: 65px;
  line-height: 62px;
  background: #f7fafd;
  border-radius: 50%;
  font-size: 30px;
  color: #44ce6f;
  -webkit-transition: .4s;
  transition: .4s;
}

.contact-info-box h3 {
  font-size: 18px;
  margin: 25px 0 15px;
}

.contact-info-box p {
  margin-bottom: 0;
}

.contact-info-box p a {
  color: #6084a4;
}

.contact-info-box p a:hover {
  color: #44ce6f;
}

.contact-info-box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.contact-info-box:hover .icon {
  color: #ffffff;
  background: #44ce6f;
}

#map {
  height: 500px;
  width: 100%;
}

#contactForm .help-block ul {
  margin: 0;
}

#contactForm .help-block ul li {
  color: red;
}

#contactForm .btn {
  margin-top: 10px;
}

#contactForm #msgSubmit.text-danger, #contactForm #msgSubmit.text-success {
  margin: 20px 0 0;
}

/*================================================
Footer CSS
=================================================*/
.footer-area {
  padding-top: 80px;
  position: relative;
  z-index: 1;
}

.footer-area .map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  bottom: 0;
  opacity: .7;
}

.single-footer-widget .logo {
  margin-bottom: 20px;
}

.single-footer-widget .logo a {
  display: block;
}

.single-footer-widget h3 {
  font-size: 18px;
  margin-bottom: 30px;
}

.single-footer-widget ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.single-footer-widget ul.list li {
  margin-bottom: 10px;
}

.single-footer-widget ul.list li a {
  color: #6084a4;
}

.single-footer-widget ul.list li a:hover {
  color: #44ce6f;
  padding-left: 7px;
}

.single-footer-widget ul.list li:last-child {
  margin-bottom: 0;
}

.single-footer-widget ul.footer-contact-info {
  margin-bottom: 20px;
}

.single-footer-widget ul.footer-contact-info li {
  position: relative;
  color: #6084a4;
  margin-bottom: 8px;
  padding-left: 25px;
}

.single-footer-widget ul.footer-contact-info li svg {
  position: absolute;
  left: 0;
  width: 15px;
  top: 0;
}

.single-footer-widget ul.footer-contact-info li:last-child {
  margin-bottom: 0;
}

.single-footer-widget ul.footer-contact-info li a {
  color: #6084a4;
}

.single-footer-widget ul.footer-contact-info li a:hover {
  color: #44ce6f;
}

.single-footer-widget ul.social-links li {
  display: inline-block;
}

.single-footer-widget ul.social-links li a {
  width: 32px;
  text-align: center;
  line-height: 27px;
  height: 32px;
  border: 1px solid #44ce6f;
  border-radius: 50%;
  color: #44ce6f;
}

.single-footer-widget ul.social-links li a svg {
  width: 15px;
}

.single-footer-widget ul.social-links li a.facebook {
  border-color: #4267b2;
  color: #4267b2;
}

.single-footer-widget ul.social-links li a.facebook:hover {
  background: #4267b2;
  color: #ffffff;
}

.single-footer-widget ul.social-links li a.twitter {
  border-color: #38A1F3;
  color: #38A1F3;
}

.single-footer-widget ul.social-links li a.twitter:hover {
  background: #38A1F3;
  color: #ffffff;
}

.single-footer-widget ul.social-links li a.linkedin {
  border-color: #0077B5;
  color: #0077B5;
}

.single-footer-widget ul.social-links li a.linkedin:hover {
  background: #0077B5;
  color: #ffffff;
}

.single-footer-widget ul.social-links li a.instagram {
  border-color: #231F20;
  color: #231F20;
}

.single-footer-widget ul.social-links li a.instagram:hover {
  background: #231F20;
  color: #ffffff;
}

.single-footer-widget ul.social-links li a:hover {
  background: #44ce6f;
  color: #ffffff;
}

.copyright-area {
  margin-top: 80px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #d8ebfd;
  text-align: center;
}

/*=============================
Go Top CSS
===============================*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 30px;
  right: 0;
  color: #ffffff;
  background-color: #c679e3;
  z-index: 1;
  display: none;
  width: 45px;
  text-align: center;
  height: 45px;
  border-radius: 10px 0 0 10px;
  line-height: 46px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.go-top:hover {
  color: #ffffff;
  background: #44ce6f;
}
/*# sourceMappingURL=style.css.map */

.cloud-logo {
    width: 94px;
    height: 60px;
    object-fit: contain;
}

/* For contact page */

.contact-form {
  background-color: #e9ecef;
  padding: 15px;
}
.contact-imgicon {
  padding-right: 15px;
}
.img-withtitle {
  padding-bottom: 15px;
}
.checkboxp {
  margin-bottom: 5px;
}
.breadcrumb {
  background-color: transparent;
}
.common-bradcrumb {
  display: table;
  margin: 0 auto;
}
.common-bradcrumb ol i {
    padding-top: 2px;
    padding-right: 6px;
    font-size: 16px;
}
.works-area.ptb-80 .card {
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: 400
}








/* Start For single profile page */

.profile {
    min-height: 355px;
    /* display: inline-block; */
}
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    padding: 2px 4px;
    }
.well.profile .dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    padding: 5px 0;
    }
  .well.profile .dropdown-menu li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
  }
.well.profile .dropdown-menu .divider {
    background:none;    
}
.well.profile .dropdown-menu>li>a {
  font-size: 13px;
  color:#f5f5f5;
  display: inline;
}
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
  .single-team-image img {
      border: 3px solid #cdf1d8;
      width: auto !important;
      border-radius: 50%;
      display: inline-block !important;
      -webkit-transition: 0.5s;
      transition: 0.5s;
  }
  .single-team-image img:hover {
    border-color: #44ce6f;
  }
  .well.profile .btn {
    padding: .375rem .75rem;
    border: 1px solid transparent;
    font-size: 1rem;
    text-transform: capitalize;
  }
  .well.profile .btn:before,
  .well.profile .btn:after {
    position: relative;
    background: transparent;
  }
  .well.profile .btn:hover, 
  .well.profile .btn:focus, 
  .well.profile .btn:active {
    transform: inherit;
  }
  .well {
    min-height: 20px;
    padding: 19px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #fafbfd;
    /* border: 1px solid #e3e3e3; */
    border-radius: 3px;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05); */
}
.well.profile .single-blog-post .blog-post-content{
background-color: #fff;
min-height: 265px;
}
/* End For single profile page */

.custom-pg {
  margin-top: 15px;
}

.single-team-blogwrap {
  margin-top: 25px;
}
.contact5-wrap .contact-info-box {
  margin-bottom: 15px;
}
.common-single-member .single-team-image img {
  width: 160px !important;
  height: 160px;
  object-fit: cover;
}
.single-profile-blog-wrap {
    padding-top: 15px;
}
.single-team-blogwrap .blog-image img {
  width: 336px;
  height: 252px;
  object-fit: cover;
}

.single-box p {
    text-align: justify;
}
.single-works img {
    height: 314px;
    object-fit: cover;
}
.pagination-area ul .page-item.page-disabled .page-link {pointer-events: none;}


/*Single Blog With Sidebar*/
.blog-details-desc .article-content {
  margin-top: 30px;
}
.blog-details-desc .article-image img {
  width: 100%;
}
.blog-details-desc .article-content .entry-meta ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.blog-details-desc .article-content .entry-meta ul li {
  position: relative;
  display: inline-block;
  color: #0e314c;
  margin-right: 20px;
}
.blog-details-desc .article-content .entry-meta ul li::before {
  content: '';
  position: absolute;
  top: 12px;
  right: -15px;
  width: 6px;
  height: 1px;
  background: #44ce6f;
}
.blog-details-desc .article-content .entry-meta ul li:last-child::before{
  display: none;
}
.blog-details-desc .article-content .entry-meta ul li a {
  display: inline-block;
  color: #6084a4;
}

.blog-details-desc .article-content .entry-meta ul li svg {
  color: #44ce6f;
  margin-right: 2px;
  position: relative;
  top: -1px;
  width: 15px;
}
.blog-details-desc .article-content h3 {
  margin-bottom: 15px;
  margin-top: 25px;
  font-size: 20px;
}
blockquote, .blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 50px !important;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  margin-top: 20px;
}
blockquote::after, .blockquote::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #44ce6f;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog-details-desc .article-content .wp-block-gallery.columns-3 {
  padding-left: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.blog-details-desc .article-content .wp-block-gallery.columns-3 li {
  -ms-flex: 0 0 33.3333%;
  -webkit-box-flex: 0;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding-right: 10px;
  padding-left: 10px;
}
.blog-details-desc .article-content .wp-block-gallery.columns-3 li figure {
  margin-bottom: 0;
}
.blog-details-desc .article-content .features-list {
  padding-left: 0;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 30px;
}
.blog-details-desc .article-content .features-list li {
  margin-bottom: 15px;
  position: relative;
  padding-left: 25px;
  color: #6084a4;
}
.blog-details-desc .article-content .features-list li svg {
  color: #44ce6f;
  display: inline-block;
  width: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.widget-area .widget {
  margin-top: 35px;
}
.widget-area .widget:first-child {
  margin-top: 0;
}
.widget-area .widget_search {
  -webkit-box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
  box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
  background-color: #ffffff;
  padding: 15px;
}
.widget-area .widget_search form {
  position: relative;
}
.widget-area .widget_search form label {
  display: block;
  margin-bottom: 0;
}
.widget-area .widget_search form .search-field {
  background-color: transparent;
  height: 50px;
  padding: 6px 15px;
  border: 1px solid #eeeeee;
  width: 100%;
  display: block;
  outline: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.widget-area .widget_search form button {
  position: absolute;
  right: 0;
  outline: 0;
  bottom: 0;
  height: 50px;
  width: 50px;
  z-index: 1;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #44ce6f;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
}
.widget-area .widget_search form button svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  left: 0;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
}
.widget-area .widget_search form .screen-reader-text {
  display: none;
}


.widget-area .widget .widget-title {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  margin-bottom: 25px;
  position: relative;
  font-size: 19px;
}
.widget-area .widget .widget-title::before {
  content: '';
  position: absolute;
  background: #44ce6f;
  bottom: -1px;
  left: 0;
  width: 50px;
  height: 1px;
}
.widget-area .widget_startp_posts_thumb .item {
  overflow: hidden;
  margin-bottom: 15px;
}
.widget-area .widget_startp_posts_thumb .item .thumb {
  float: left;
  height: 80px;
  overflow: hidden;
  position: relative;
  width: 80px;
  margin-right: 15px;
}

.widget-area .widget_startp_posts_thumb .item .thumb .fullimage {
  width: 80px;
  height: 80px;
  display: inline-block;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center center !important;
}
.widget-area .widget_startp_posts_thumb .item .info {
  overflow: hidden;
  margin-top: 5px;
}
.widget-area .widget_startp_posts_thumb .item .info time {
  display: block;
  color: #6084a4;
  text-transform: uppercase;
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 12px;
}
.widget-area .widget_startp_posts_thumb .item .info .title {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 500;
}
.widget-area .widget_categories ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.widget-area .widget_categories ul li {
  position: relative;
  margin-bottom: 12px;
  color: #6084a4;
  padding-left: 14px;
  font-weight: 500;
  font-size: 14px;
}
.widget-area .widget_categories ul li::before {
  background: #44ce6f;
  height: 7px;
  width: 7px;
  content: '';
  left: 0;
  top: 8px;
  position: absolute;
}
.widget-area .widget_categories ul li a {
  color: #0e314c;
  display: block;
}
.widget-area .widget_categories ul li a:hover {
  color: #44ce6f;
}
.widget-area .widget_archive ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}
.widget-area .widget_archive ul li {
  position: relative;
  margin-bottom: 12px;
  padding-left: 14px;
  color: #0e314c;
  font-weight: 500;
  font-size: 14px;
}
.widget-area .widget_archive ul li::before {
  background: #44ce6f;
  height: 7px;
  width: 7px;
  content: '';
  left: 0;
  top: 8px;
  position: absolute;
}
.widget-area .widget_archive ul li a {
  display: inline-block;
  color: #0e314c;
}
.widget-area .widget_archive ul li a:hover {
  color: #44ce6f;
}
.widget-area .tagcloud a {
  display: inline-block;
  color: #0e314c;
  font-weight: 500;
  font-size: 14px !important;
  padding: 6px 13px;
  border: 1px dashed #eeeeee;
  margin-top: 8px;
  margin-right: 4px;
}
.widget-area .tagcloud a:hover, .widget-area .tagcloud a:focus {
  color: #ffffff;
  background-color: #44ce6f;
  border-color: #44ce6f;
}
.entry-meta i {
  color: #44ce6f;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  border-bottom: 1px solid #dee2e6;
  border-radius: 0px;
}
.team-area .nav.nav-tabs {
  display: block;
  border-bottom: 0px;
}
.team-area .nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  display: inline-block;
  border-radius: 25px!important;
}
.all-skills span {
  display: inline-block;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
span.p-cat-name {
  position: absolute;
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
  padding: 8px 16px;
  font-size: 13px;
  border-radius: 50px;
  color: #ffffff;
  bottom: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
}
.single-works:hover span.p-cat-name {
  opacity: 0;
}
.pro-img-height {
  height: 360px;
  object-fit: cover;
  object-position: center center;
}


.spinner-border {
  display: inline-block;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}
@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}


.spinner-grow {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: text-bottom;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow .75s linear infinite;
  background: #44ce6f;
}

div#loading {
    position: absolute;
    top: 50%;
    z-index: 9;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
}
.member-skills span {
    margin-bottom: 5px;
}
.personal-bio > p {
    margin-bottom: 0;
}

.personal-bio {
    margin-top: 8px;
}

.all-skills {
    margin-top: 8px;
}

.all-skills p {
    margin-bottom: 5px;
}
.ml-services-area {
  padding-bottom: 50px;
  position: relative;
  z-index: 1;
  background: -webkit-gradient(linear, right top, left bottom, from(#fffcff), color-stop(#fbfaff), color-stop(#effbff), color-stop(#e0fdff), to(#d5fefd));
  background: linear-gradient(to left bottom, #fffcff, #fbfaff, #effbff, #e0fdff, #d5fefd);
}

.single-ml-services-box {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 30px;
  padding: 30px 25px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-ml-services-box .image {
  margin-bottom: 25px;
}
.single-ml-services-box h3 {
  font-size: 18px;
  margin-bottom: 12px;
}
.single-ml-services-box p {
  margin-bottom: 0;
}
.single-ml-services-box::before {
  content: '';
  position: absolute;
  left: -15px;
  bottom: -15px;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #44ce6f;
  visibility: hidden;
  opacity: 0;
}
.single-ml-services-box:hover::before {
  opacity: 1;
  visibility: visible;
}
.section-title .sub-title {
  display: inline-block;
  color: #c679e3;
  background-color: #f5dffd;
  margin-bottom: 18px;
  border-radius: 30px;
  padding: 5px 20px 4px;
  font-size: 13px;
}
.contact-info-box a {
  display: block;
} 
.blog-thumbnail .blog-image img {
  width: 100%;
}
.post-details a {
  color: #44ce6f;
}